Django==6.0.7
django-bootstrap5==26.2
django-bootstrap5-dark-mode-switch==0.2.2
django-bootstrap-modal-forms==3.0.5
django-smart-selects==1.7.2
django-colorful==1.4.0
icalendar==7.2.0
icecream==2.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
requests==2.34.2