{% extends "base.html" %}
{% load static bootstrap4 l10n i18n  %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" type="text/css" href="{% static "css/event.css" %}" />
<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{{ form.media.js }}
<script>

function refreshEventList() {
    var table = $('#id_events');
    table.bootstrapTable('removeAll');
    var location = $('#id_location').val();
    var category = $('#id_category').val();
    $.ajax({
    	url: '/event/list/'+calendar+'/'+location+'/'+category+'/',
        type: 'get',
        dataType: 'json',
        success: function (events) {
        	for (event in events) {
        	    row = {
        	        id: events[event].id,
                    date: events[event].date,
                    calendar: events[event].calendar,
                    location: events[event].location,
                    category: events[event].category,
                    edit: '<button class="btn btn-info btn-sm update" data-url="/event/update/'+events[event].id+'/"><i class="far fa-edit"></i></button>',
                    delete: '<button class="btn btn-danger btn-sm" onclick="removeEvent('+events[event].id+');return false;"><i class="far fa-trash"></i></button>'
                };
                table.bootstrapTable('prepend', row);
            }
        	$(".update").each(function() {
                $(this).modalForm({formURL: $(this).data('url'), modalID: "#updateModal"});
            });
        },
    });
}


function removeEvent(event_id) {
    $.get({
        url: '/event/delete/' + event_id + '/',
        success: function (data) {
            refreshEventList();
        }
    });
}


function addEvent() {
    var date = $('#id_date').val();
    var location = $('#id_location').val();
    var category = $('#id_category').val();
    var table = $('#id_events');

    $.get({
        url: '/event/create/' + calendar + '/' + location + '/' + category + '/' + date + '/',
        success: function (id) {
            refreshEventList();
        }
    });
}


function toggleButtons() {
    var table = $('#id_events');
    var location = $('#id_location').val();
    var category = $('#id_category').val();

    if (location === '' || category === '') {
        $('#id_add').prop('disabled', true);
        $('#id_refresh').prop('disabled', true);
        table.bootstrapTable('removeAll');
    } else {
        $('#id_add').prop('disabled', false);
        $('#id_refresh').prop('disabled', false);
        refreshEventList();
    }
}


$(document).ready(function(){
    calendar = "{{ calendar.slug }}";
    var location = $('#id_location').val();
    var category = $('#id_category').val();
    if (location !== '' && category !== '') {
        refreshEventList();
    }

    $('#id_location').change(function() {
        toggleButtons();
    });
    $('#id_category').change(function() {
        toggleButtons();
    });
});

</script>
{% endblock %}

{% block page_title %}{% trans 'Calendar edit' %}{% endblock %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="updateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-dialog-scrollable">

        </div>
    </div>
</div>

<h4>{{ calendar.name }}</h4>

{% bootstrap_field form.location %}
{% bootstrap_field form.category %}
{% bootstrap_field form.date %}

<div class="row">
    <div class="col-12">
        <button id="id_add" class="btn btn-success btn-sm float-right" onclick="addEvent();" disabled>
            <i class="far fa-plus"></i>
        </button>
    </div>
</div>



<hr/>

<div class="form-group">
    <table class="table table-striped table-sm" id="id_events"
           data-toggle="table" data-unique-id="id">
        <thead>
            <tr>
                <th data-field="id">{% trans 'ID' %}</th>
                <th data-field="date">{% trans 'Date' %}</th>
                <th data-field="calendar">{% trans 'Calendar' %}</th>
                <th data-field="location">{% trans 'Location' %}</th>
                <th data-field="category">{% trans 'Category' %}</th>
                <th data-field="edit" data-align="center"></th>
                <th data-field="delete" data-align="center"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<button id="id_refresh" class="btn btn-secondary btn-sm" onclick="refreshEventList();" disabled>
    <i class="far fa-sync"></i>
</button>


<hr/>


<div class="buttons">
    <a href="{% url 'event:calendar' %}" class="btn btn-primary">
        <i class="far fa-check"></i>
    </a>
</div>

{% endblock %}