{% extends "base.html" %}
{% load static django_bootstrap5 l10n i18n %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/event.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/core/main.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/bootstrap/main.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/daygrid/main.css' %}" media="all">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script src="{% static 'fullcalendar/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/bootstrap/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/core/locales/de.js' %}"></script>

<script>

function getEventSources() {
    var sources = [];
    $(".custom-control-input:checked").each(function() {
        sources.push(
            '/event/events/'+$(this).attr('id')+'/'
        );
    });
    return sources;
  }


$(document).ready(function(){

    $(".custom-control-input").on("change", function() {
        //remove event sources
        calendar.getEventSources().forEach(eventSource => {
            eventSource.remove();
        });
        //get currently selected sources
        var sources = getEventSources();

        //add each new source to the calendar
        sources.forEach(eventSource => {
            calendar.addEventSource(eventSource);
        });
    });

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'bootstrap' ],
        locales: [ 'deLocale' ],
        locale: 'de',
        eventSources: getEventSources(),
        eventRender: function(info) {
            info.el.innerHTML = info.el.innerHTML.replace('$ICON', "<em class=' "+info.event.extendedProps.icon+"'></em>");
        }
    });
    calendar.render();

    $("#id_alarm").on("change", function() {
        var hours = $("#id_alarm").val()+ '/';
        $("a.caldavlink").each(function() {
            var $this = $(this);
            var url = $this.attr("href");
            var url_array = url.split("/");
            var last = url_array[url_array.length-2];
            if (isNaN(last)) {
                var _href = url + hours;
            } else {
                var _href = url.replace(last + '/', hours);
            }
            $this.attr("href", _href);
        });
    });
});

</script>
{% endblock %}

{% block page_title %}Abfuhrkalender{% endblock %}

{% block content %}
<input class="hidden" id="calendar_id" value="{{ calendar.slug }}">
<div id='calendar'></div>

<div class="row mt-3">
    <div class="col-lg-6">
        <table>
            <tbody>
                {% for cal in calendars %}
                <tr>
                    <td>{{ cal.name }}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="{{ cal.slug }}"
                                   {% if cal.default %}checked{% endif %}>
                            <label class="custom-control-label" for="{{ cal.slug }}"></label>
                        </div>
                    </td>
                    <td style="min-width: 8rem; text-align: center;">
                        <a href="webcal://{{ request.get_host }}/event/ical/{{ cal.slug }}/"
                           class="caldavlink">
                            <i class="fal fa-external-link"></i>
                            {% trans 'subscribe' %}
                        </a>
                    </td>
                    <td style="min-width: 8rem; text-align: center;">
                        <a href="http://{{ request.get_host }}/event/ical/{{ cal.slug }}/"
                           class="caldavlink">
                            <i class="fal fa-download"></i>
                            {% trans 'import' %}
                        </a>
                    </td>
                    {% if user.is_staff %}
                    <td>
                        <a href="{% url 'event:edit' cal.id %}" class="btn-link float-end"
                           title="{% trans 'edit' %}">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-lg-6">
        <label for="id_alarm">{% trans 'Alarm' %}</label>
        <div class="input-group date" data-target-input="nearest">
            <input type="number" class="form-control" id="id_alarm" min="1" max="30" step="1" value="16"/>
            <div class="input-group-append" data-target="#id_alarm">
                <div class="input-group-text"><i class="fal fa-alarm-clock"></i></div>
            </div>
        </div>
        <p class="small" id="passwordHelpBlock" class="form-text text-muted">
            {% blocktrans trimmed %}
                Time in hours at which the alarm should be set before the event.
                The event starts at 0:00, so 4 hours means alarm at 8 p.m.
            {% endblocktrans %}
        </p>

    </div>

</div>
{% endblock %}