{% extends "base.html" %}
{% load static bootstrap4 l10n i18n  %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/event.css" %}" />

<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/core/main.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/bootstrap/main.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/daygrid/main.css' %}" media="all">

<script src="{% static 'fullcalendar/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/bootstrap/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/core/locales/de.js' %}"></script>

<script>
$(document).ready(function(){
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'bootstrap' ],
        locales: [ 'deLocale' ],
        locale: 'de',
        events: {
            url: '/event/json',
            failure: function () {
                document.getElementById('script-warning').style.display = 'block'
            }
        },
        eventRender: function(info) {
            info.el.innerHTML = info.el.innerHTML.replace('$ICON', "<em class=' "+info.event.extendedProps.icon+"'></em>");
        }
    });
    calendar.render();
});

</script>
{% endblock %}

{% block page_title %}Abfuhrkalender{% endblock %}

{% block content %}

    <div id='calendar'></div>

{% endblock %}