{% extends "base.html" %}
{% load static bootstrap4 l10n i18n  %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/event.css" %}" />

<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/core/main.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/bootstrap/main.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/packages/daygrid/main.css' %}" media="all">

<script src="{% static 'fullcalendar/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/bootstrap/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar/packages/core/locales/de.js' %}"></script>

<script>

function getEventSources() {
    var sources = [];
    $(".custom-control-input:checked").each(function() {
        sources.push(
            '/event/json/abfuhrkalender/'+$(this).attr('id')+'/'
        );
        console.log(sources);
    });
    return sources;
  }


$(document).ready(function(){

    $(".custom-control-input").on("change", function() {
        //remove event sources
        calendar.getEventSources().forEach(eventSource => {
            eventSource.remove();
        });
        //get currently selected sources
        var sources = getEventSources();

        //add each new source to the calendar
        sources.forEach(eventSource => {
            calendar.addEventSource(eventSource);
        });
    });

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'bootstrap' ],
        locales: [ 'deLocale' ],
        locale: 'de',
        eventSources: getEventSources(),
        eventRender: function(info) {
            info.el.innerHTML = info.el.innerHTML.replace('$ICON', "<em class=' "+info.event.extendedProps.icon+"'></em>");
        }
    });
    calendar.render();
});

</script>
{% endblock %}

{% block page_title %}{{ calendar.name }}{% endblock %}

{% block content %}

    <div id='calendar'></div>

    <table>
        <tbody>
            {% for loc in locations %}
            <tr>
                <td>{{ loc.name }}</td>
                <td>
                    <div class="custom-control custom-switch">
                        <input type="checkbox"
                               class="custom-control-input"
                               id="{{ loc.slug }}"
                               {% if loc.default %}checked{% endif %}>
                        <label class="custom-control-label" for="{{ loc.slug }}"></label>
                    </div>
                </td>
                <td>
                    <a href="webcal://{{ request.get_host }}/event/ical/abfuhrkalender/{{ loc.slug }}/">
                        <button class="btn" title="Abfuhrkalender {{ loc.name }} abonnieren">
                            <i class="fal fa-external-link"></i>
                            abonnieren
                        </button>
                    </a>
                </td>
                <td>
                    <a href="http://{{ request.get_host }}/event/ical/abfuhrkalender/{{ loc.slug }}/">
                        <button class="btn" title="Abfuhrkalender {{ loc.name }} importieren">
                            <i class="fal fa-download"></i>
                            importieren
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}