{% extends "base.html" %}
{% load static bootstrap4 l10n i18n  %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/event.css" %}" />
<script>
$(document).ready(function(){

});
</script>
{% endblock %}

{% block page_title %}{% trans 'Calendar edit' %}{% endblock %}

{% block content %}

<div class="form-group">
    <label for="id_calendar">{% trans 'Calendar' %}</label>
    <select class="form-control" id="id_calendar">
        {% for calendar in calendars %}
        <option value="{{ calendar.slug }}">{{ calendar.name }}</option>
        {% endfor %}
    </select>
</div>


<div class="buttons">
    <a href=""
</div>

{% endblock %}