{% extends "base.html" %}
{% load static django_bootstrap5 l10n i18n %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "page/css/page.css" %}" />
{% endblock %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block edit_toolbar %}
<a href="{% url 'admin:page_page_change' page.id %}" >
    {% trans 'Edit in Admin' %}
</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        {{ page.content|safe }}

    </div>
</div>

{% endblock %}